name: Release

on:
  push:
    branches: [main]
    paths:
      - gh-parallel

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: p6m7g8-actions/checkout@main
      - name: Set git identity
        run: |-
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
      - name: Create Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          GITHUB_REF: ${{ github.ref }}
        shell: bash
        run: v=$(gh release list |awk '{print $1}' |awk -F\. '{print $2}' |head -1); v=$((v+1)); gh release create --draft --generate-notes v0.$v.0 gh-parallel
